/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */

div {
    background-color: rgb(30, 138, 26);
    width: 570px;
    text-align: center;
    padding: 2px;   
}

button {
    width: 35px; 
    height: 35px;
}